/**
 * Sharelog Holmes
 * Copyright(C) King, 2017
 */
#loading-blocker
{
    overflow: hidden;
}

#loading-blocker > div.loader,
#loading-blocker > div.loader:before
{
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    margin-top: -50px;
    margin-left: -50px;
    opacity: 0.8;
}

#loading-blocker > div.loader
{
    border: 12px solid #202020;
    border-right: 12px solid #FFDF2F;
    animation: loader-spin 3s linear infinite;
}

#loading-blocker > div.loader:before
{
    content: "";
    border: 12px solid transparent;
    border-right: 6px solid #D0D0D0;
    animation: loader-spin 1.5s linear infinite;
}

#loading-blocker > div.login-blocker > div.modal-content,
#loading-blocker > div.max-retries-blocker > div.modal-content
{
    padding: 20px;
    text-align: center;
    margin-top: 105px;
}

#loading-blocker > div.login-blocker > div.modal-content > button,
#loading-blocker > div.max-retries-blocker > div.modal-content > iframe
{
    display: block;
    margin: auto;
    margin-top: 10px;
}

#loading-blocker > div.max-retries-blocker > div.modal-content > iframe
{
    width: 420px;
    height: 315px;
    max-width: 100%;
}

@keyframes loader-spin
{
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#sidebar-root-wrapper
{
    position: absolute;
    overflow-x: hidden;
    top: 50px;
    bottom: 0;
    left: 0;
    right: 0;
    padding-left: 250px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#sidebar-root-wrapper.toggled
{
    padding-left: 0;
}

#sidebar-root-wrapper.closed
{
    padding-left: 0 !important;
}

#sidebar-wrapper
{
    position: fixed;
    z-index: 1000;
    left: 250px;
    width: 250px;
    height: 100%;
    margin-left: -250px;
    overflow: hidden;
    background: #202020;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#sidebar-root-wrapper.toggled #sidebar-wrapper
{
    width: 0;
}

#sidebar-root-wrapper.closed #sidebar-wrapper
{
    width: 0 !important;
}

#page-content-wrapper
{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
}

#sidebar-root-wrapper.toggled #page-content-wrapper
{
    position: relative;
    margin-right: 0;
}

#sidebar-root-wrapper.closed #page-content-wrapper
{
    position: relative !important;
    margin-right: 0 !important;
}

#toggle-list
{
    cursor: pointer;
    padding: 5px;
}

#navbar-content > form
{
    margin: 0;
    padding: 0;
}

#polling
{
    position: relative;
    width: 270px;
    height: 50px;
}

#polling > div.slider
{
    position: absolute;
    top: 13px;
    left: 15px;
}

#polling > div.slider .slider-tick,
#polling > div.slider .slider-track-high
{
    background: #D0D0D0;
    opacity: 1.0;
}

#polling > div.slider .slider-selection,
#polling > div.slider .slider-handle,
#polling > div.slider .slider-tick.in-selection
{
    background: #FFDF2F;
}

#polling > div.slider .tooltip-arrow
{
    border-bottom-color: #F2F2F2;
}

#polling > div.slider .tooltip-inner
{
    background: #F2F2F2;
    border: #202020 solid 1px;
    border-top: none;
    color: #202020;
}

#polling > span.glyphicon
{
    position: absolute;
    top: 11px;
    right: 5px;
    font-size: 25px;
    color: #D0D0D0;
}

#polling > span.tick
{
    display: none;
    color: #FFDF2F;
    text-shadow: #DCDCDC 1px 1px 12px;
}

@media (max-width: 767px)
{
    #sidebar-root-wrapper
    {
        padding-left: 0;
    }

    #sidebar-root-wrapper.toggled
    {
        padding-left: 250px;
    }

    #sidebar-wrapper
    {
        width: 0;
    }

    #sidebar-root-wrapper.toggled #sidebar-wrapper
    {
        width: 250px;
    }

    #page-content-wrapper
    {
        position: absolute;
    }

    #sidebar-root-wrapper.toggled #page-content-wrapper
    {
        position: absolute;
        margin-right: -250px;
    }

    #polling
    {
        margin-bottom: 25px;
    }
}

#navbar-account > a > span.glyphicon
{
    height: 20px;
}

#auth-user
{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 150px;
}

#auth-user:before
{
    font-family: "Glyphicons Halflings";
    font-size: 10px;
    content: "\e008";
    padding-right: 5px;
}

#auth-logout:before
{
    font-family: "Glyphicons Halflings";
    font-size: 10px;
    content: "\e163";
    padding-right: 5px;
}

@media (min-width: 768px) and (max-width: 859px)
{
    #polling
    {
        width: 180px;
    }

    #polling > .slider
    {
        width: 120px;
    }
}

#sidebar-wrapper > form
{
    width: 250px;
}

#sidebar-wrapper > form div.input-group-addon
{
    border: none;
    background: #909090;
    color: #303030;
    border-radius: 0 0 0 8px;
}

#sidebar-wrapper > form input,
#sidebar-wrapper > form input:focus
{
    outline: none;
    border: none;
    border-radius: 0 0 10px 0;
}

#device-filter
{
    background: #ECECEB;
    color: #404040;
}

#devices-list
{
    position: absolute;
    top: 35px;
    bottom: 50px;
    left: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow-y: auto;
}

#devices-list a
{
    display: block;
    text-decoration: none;
    color: #A0A0A0;
}

#devices-list a:hover
{
    text-decoration: none;
    color: #F0F0F0;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
}

#devices-list a:active,
#devices-list a:focus
{
    text-decoration: none;
}

#devices-list > li
{
    text-indent: 5px;
    line-height: 40px;
}

#devices-list a.sublist-header
{
    font-size: 20px;
    font-weight: bold;
}

#devices-list a.sublist-header:before
{
    font-family: "Glyphicons Halflings";
    font-size: 15px;
    content: "\e114";
    padding-right: 5px;
}

#devices-list a.sublist-header.collapsed:before
{
    content: "\e080";
}

#devices-list a.list-entry ul
{
    border-left: #A0A0A0 solid 2px;
    margin: 4px;
    overflow-x: auto;
    list-style-type: disc;
    padding-left: 20px;
}

#devices-list a.list-entry ul > li
{
    line-height: 20px;
    text-indent: -5px;
    font-size: 14px;
}

#devices-list a.list-entry.device-filtered:not(.list-selection)
{
    display: none;
}

#devices-list a.list-entry.device-locked:not(.list-selection)
{
    color: #CE0000;
    cursor: default;
}

#devices-list a.list-entry.device-locked:not(.list-selection) ul
{
    border-color: #CE0000;
}

#devices-list a.list-entry.device-locked:not(.list-selection):hover
{
    background: none;
}

#devices-list a.list-entry.device-locked:not(.list-selection):before
{
    font-family: "Glyphicons Halflings";
    content: "\e090";
    color: #CE0000;
    font-size: 25px;
    position: absolute;
    right: 10px;
}

#devices-list a.list-selection
{
    color: #FFDF2F;
}

#devices-list a.list-selection ul
{
    border-color: #FFDF2F;
}

article
{
    width: 100%;
    height: 100%;
}

article > div
{
    padding-top: 20px;
}

article.show-bg:before
{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    z-index: -1;
    background: url(background.jpg) no-repeat center top;
    margin-left: -15px;
}

article.show-bg > div
{
    opacity: 0.95;
}

#view-snapshots > div > ul.snapshots-tabs,
#graphs-tabs,
#logs-tabs
{
    height: 42px;
}

#view-snapshots > div > ul.snapshots-tabs > li a:hover,
#graphs-tabs > li a:hover,
#logs-tabs > li a:hover
{
    background: #C0C0C0;
}

#view-snapshots > div > ul.snapshots-tabs > li.active a,
#graphs-tabs > li.active a,
#logs-tabs > li.active a
{
    background: #ECECEA;
}

#view-snapshots > div > ul.snapshots-content,
#graphs-wrapper,
#logs-output
{
    border: #D0D0D0 solid 1px;
    border-top: none;
    min-height: 198px;
    list-style: none;
    overflow: auto;
    color: #202020;
    position: absolute;
    top: 62px;
    left: 15px;
    right: 15px;
    bottom: 0;
    padding: 5px 10px 5px 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background: #ECECEA;
    margin-bottom: 10px;
}

#view-snapshots > div > div.snapshot-title,
#graphs-clear,
#logs-clear
{
    position: absolute;
    right: 15px;
}

#view-snapshots > div > ul.snapshots-tabs > li.active.hidden
{
    display: block !important;
}

#view-snapshots > div > div.snapshot-title > span
{
    font-size: 26px;
    color: #505050;
    vertical-align: top;
    max-width: 300px;
    max-height: 40px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
}

#view-snapshots > div > div.snapshot-title > ul
{
    font-size: 14px;
    color: #505050;
    margin: 0;
    padding: 0;
    margin-left: 10px;
    max-width: 500px;
    max-height: 40px;
    display: inline-block;
    overflow-x: hidden;
    overflow-y: auto;
    text-overflow: ellipsis;
    list-style: none;
    position: relative;
    top: -5px;
    vertical-align: bottom;
}

@media (max-width: 1199px)
{
    #view-snapshots > div > div.snapshot-title > span
    {
        max-width: 250px;
    }

    #view-snapshots > div > div.snapshot-title > ul
    {
        max-width: 400px;
    }
}

@media (max-width: 991px)
{
    #view-snapshots > div > div.snapshot-title > span
    {
        max-width: 200px;
    }

    #view-snapshots > div > div.snapshot-title > ul
    {
        max-width: 250px;
    }
}

@media (max-width: 767px)
{
    #view-snapshots > div > div.snapshot-title > span
    {
        max-width: 140px;
    }

    #view-snapshots > div > div.snapshot-title > ul
    {
        max-width: 200px;
    }
}

@media (max-width: 391px)
{
    #view-snapshots > div > div.snapshot-title > span
    {
        max-width: 90px;
    }

    #view-snapshots > div > div.snapshot-title > ul
    {
        max-width: 150px;
    }
}

#view-snapshots > div > ul.snapshots-content .item-key,
#view-snapshots > div > ul.snapshots-content .item-value
{
    font-size: 18px;
}

#view-snapshots > div > ul.snapshots-content .item-key
{
    font-weight: bold;
    margin-right: 5px;
    color: #E45F00;
}

#view-snapshots > div > ul.snapshots-content .item-key:after
{
    content: ":"
}

#view-snapshots > div > ul.snapshots-content .item-header1
{
    font-size: 28px;
    font-weight: bold;
    color: #00AF36;
    height: 40px;
    display: block;
}

#view-snapshots > div > ul.snapshots-content .item-header2
{
    font-size: 22px;
    font-weight: bold;
    color: #00AF36;
    height: 34px;
    display: block;
}

#view-snapshots > div > ul.snapshots-content .item-header3
{
    font-size: 20px;
    color: #00AF36;
    height: 30px;
    display: block;
}

#view-snapshots > div > ul.snapshots-content .item-normal
{
    font-size: 15px;
    height: 25px;
    display: block;
}

#view-snapshots > div > ul.snapshots-content .item-table-title
{
    font-size: 15px;
    font-weight: bold;
    color: #009859;
}

#view-snapshots > div > ul.snapshots-content .item-table-title:before
{
    content: "#";
}

#view-snapshots > div > ul.snapshots-content table
{
    font-size: 15px;
    white-space: nowrap;
    width: 1px;
}

#view-snapshots > div > ul.snapshots-content table > thead
{
    color: #E45F00;
}

#view-snapshots > div > ul.snapshots-content .item-table-link
{
    cursor: pointer;
    color: #3D80BA;
}

#view-snapshots > div > ul.snapshots-content .item-table-link:hover
{
    background: #6F97B9;
    color: #505050;
}

#view-snapshots > div > ul.snapshots-content a {
    cursor: pointer;
}

#graphs-wrapper
{
    padding: 15px;
}

#graphs-chart
{
    width: 100%;
    height: 100%;
}

#graphs-clear,
#logs-clear
{
    z-index: 1;
}

#logs-output > li
{
    color: #46371D;
    padding-left: 15px;
}

#logs-output > li > code.no-markdown
{
    background: none;
}

#logs-output > li:before
{
    font-family: "Glyphicons Halflings";
    content: "\e092";
    position: absolute;
    color: #505050;
    left: 6px;
}

#logs-output > li code
{
    font-size: 105%;
    color: #655232;
    background-color: #FAFAFA;
}

#logs-output > li blockquote
{
    color: #846B42;
    background-color: #CECCC5;
    border-left: 2px solid #505050;
    border-radius: 5px;
}

#console-output
{
    border: #A0A0A0 solid 1px;
    min-height: 190px;
    list-style: none;
    overflow: auto;
    color: #A0A0A0;
    position: absolute;
    top: 70px;
    left: 15px;
    right: 15px;
    bottom: 0;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    background: #3A3A3A;
}

#console-output li.sendCommand:before, #console-output li.sendDeeplink:before
{
    font-family: "Glyphicons Halflings";
    content: "\e092";
    margin-right: 0.5em;
    position: relative;
    top: 2px;
}

#console-output li.recvCommand
{
    color: #00C300;
}

#console-output li.recvCommand:before
{
    content: "Command >";
    margin-right: 0.5em;
}

#console-output li.recvDeeplink
{
    color: #E5E500;
}

#console-output li.recvDeeplink:before
{
    content: "Deeplink >";
    margin-right: 0.5em;
}
